.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: serif;
  text-align: center;
  color: white;
  background-color: rgba(0,0,0,.8);
  border: 4px solid rgba(0,0,0,.5);
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-bottom: 2vh;
  padding: 1vmin;
  padding-bottom: 3vmax;
}


.title {
  font-size: 1.5rem;
}

.date {
  font-size: 1.25rem;
}

.text {
  width: 100%;
  margin-top: 1rem;
  font-size: 1rem;
}

@media only screen and (min-width: 1000px) {
  .textContainer {
    width: 75%;
  }

  .title {
    font-size: 2rem;
  }

  .date {
    font-size: 1.25rem;
  }

  .text {
    font-size: 1.25rem;
  }
}
